.display-block{
    background-color: aqua;
    width: 100%;
    height: 100px;
    padding: 40px;
    margin-top: 60px;
}
h1 {
    background-color: blueviolet;
}
.display-inline{
    background-color: aqua;
    display: inline;
    padding-left: 20px;
}
.inline-block{
    background-color: brown;
    display: inline-block;
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid black;

}